<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Biblioteczka</title>
</head>
<body>

    <h1>Strona główna</h1>
    <div style="width: 30%; float: left;">
        <h2>Kategorie</h2>

        {% for kat in kategorie %}

        <p><a href="/kategoria/{{kat.id}}"> {{ kat.nazwa }} </a></p>

        {% endfor %}

        <h2>Wydawnictwa</h2>

        {% for wyd in wydawnictwa %}

        <p><a href="/wydawnictwo/{{wyd.id}}"> {{ wyd.nazwa }} </a></p>

        {% endfor %}
    </div>


    <div style="width: 70%; float: left;">
        {% block kategoria %} {% endblock kategoria %}
        {% block ksiazka %} {% endblock ksiazka %}
    </div>

     <div style="clear: both;"></div>
</body>
</html>